$mainClr: #ffb400;
$darkClr: #161a1e;
$grayClr: #2d2d2d;
$textClr: #484848;
$fadeClr: #70707098;
$fadeClr500: rgba(112, 112, 112, 0.085);
$graylightClr: #cecece;
$fadeMainClr: #ffb3002d;
$white: white;
$blue: #576b95;
